*{
    margin: 0%;
    padding: 0%;
}

html{
    scroll-behavior: smooth;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background: #E8E6E6;
}

.navbar{
    width: 100%;
    height: 70px;
    background:rgba(0, 0, 0, 0.966);
    position: sticky;
   top:0;
   border-bottom: 5px solid green;
}

.Socialmedia-icons ul li {
    float: left;
    text-decoration: none;
    list-style: none;
    padding-top: 25px;
    padding-bottom: 25px;    
}



.Socialmedia-icons ul li a img{
    width: 25px;
   height: 25px;
   padding-left: 15px;
   line-height: 50px;
   color: rgb(255, 255, 255);
}

.menu-navegacion ul li{
    list-style: none;
    font-size: 15px;
    float: right;

}

.menu-navegacion ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    display:block;
    padding:25px 25px;
}

/* lkdnflkjanfjkfnasdfsdfknasdlfalfk{ñsfjksklfjsñlfjalksfjaslñf
dfasdfgadsfasfdsfgasdfdsfasdfafasdfasffkñlfkklsdjfañlkfjalñfjalñkjs
fdfasdfasdf  -----------*END HEADER* -----------asdfasdfasfasdfasfasfasdfasfasdfasdfsfa fasdfasfsafsfsafafsfsdfasfas
sffasdfsadfgalkfnjlñsdfhask.jfhklajfh sañkjfhasokjfhasñkljfdh klajs f dfafdljañlf
asdffjkfslñkajfkasfkasfgerdjlsadjfklsdjfasjflkfjlkdjalñksjdflksdjfjfadkfjañldf */


#contenedor-principal{
    width: 100%;
    height: 80vh;
}

.article-1 h2{
    color: rgb(7, 34, 109);
    font-size: 35px;
    padding-top: 90px;
    font-weight: normal;
    padding-bottom: 25px;
    text-align: center;
}

.article-1{
    text-align: center;
}

.article-1 p{
    float: left;
    color: #303342;
    width: 40%;
    margin: 40px;
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
    font-size: 20px;
}

.article-1 img{
    width: 300px;
    height: 500px;
    transition: all 500ms ease-out;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.568);
}


.article-2 h2{
    color: rgb(7, 34, 109);
    font-size: 35px;
    padding-top: 90px;
    font-weight: normal;
    padding-bottom: 25px;
    text-align: center;
}

.article-2{
    text-align: center;
}

.article-2 p{
    float: right;
    color: #303342;
    width: 40%;
    margin: 40px;
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
    font-size: 20px;
}

.article-2 img{
    width: 360px;
    height: 250px;
    margin: 15px;
    transition: all 500ms ease-out;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.568);
}

.article-2 img:hover{
box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.822);
transform: translateY(-3%);
}

.article-1 img:hover{
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.822);
    transform: translateY(-3%);
    }
    

/* lkdnflkjanfjkfnasdfsdfknasdlfalfk{ñsfjksklfjsñlfjalksfjaslñf
dfasdfgadsfasfdsfgasdfdsfasdfafasdfasffkñlfkklsdjfañlkfjalñfjalñkjs
fdfasdfasdf  -----------*SECTION END* -----------asdfasdfasfasdfasfasfasdfasfasdfasdfsfa fasdfasfsafsfsafafsfsdfasfas
sffasdfsadfgalkfnjlñsdfhask.jfhklajfh sañkjfhasokjfhasñkljfdh klajs f dfafdljañlf
asdffjkfslñkajfkasfkasfgerdjlsadjfklsdjfasjflkfjlkdjalñksjdflksdjfjfadkfjañldf */

.whatsappcontact{
    width: 100%;
    height: 90px;
}

.whatsappcontact p{
    color: rgb(228, 228, 228);
    background:#303342;
    padding-left: 40px;
    height: 35px;
    line-height: 35px;
    font-size: 20px;
    text-align: left;
}

.whatsappcontact h2{
    background: #0f0f14;
    height: 100%;
    text-align: right;
    border-top: 3px solid green;
    font-weight: normal;
}

.whatsappcontact a{
    color: white;
    text-decoration: none;
    font-size:25px;
    padding-right: 40px;
}

.whatsappcontact a img{
    width: 45px;
    height: 45px;
    padding-top: 13px;
    padding-left: 10px;
}


.contactos{
    background: #1D1E27;
    width: 100%;
    height: 230px;
    padding-top: 100px;
}


.contactos h2{
    color: rgb(255, 255, 255);
    border-bottom: 4px solid #3B5C6D;
    font-size: 25px;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    font-weight: normal;
    font-size: 30px;
}

.contactos ul li{
    list-style: none;
    margin-top: 100px;
    margin-left: 36%   
}

.contactos a img{
    width: 25px;
    height: 25px;
}
.contactos a{
    color: rgb(255, 244, 228);
    text-decoration: none;
    padding-right: 50px;
    float: left;
    padding-top: 10px;
}

.socialmedia-footer ul li{
    list-style: none;
    margin-top: 40px;
    margin-left: 36%;
} 

.socialmedia-footer a{
    float: left;
    padding: 10px 30px;
}

.copyright{
    width: 100%;
    height: 25px;
    text-align: center;
    background:#16161d;
    padding-top:10px;
    border-bottom: 4px solid #3B5C6D;
    position: sticky;
    bottom: 0;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}